# MongoDB connection
MONGO_URI=mongodb://localhost:27017/?replicaSet=rs0
MONGO_DATABASE=traffic
MONGO_COLLECTION=traffic

# Input data
CSV_FILE=./data/Motor_Vehicle_Collisions_Crashes.csv

# Embeddings
EMBEDDING_MODEL=BAAI/bge-small-en-v1.5
EMBEDDING_BATCH_SIZE=500
EMBEDDING_CHECKPOINT=./logs/embedding_checkpoint.json
